/* Start Tri's part */

/* Start Tuan's part */
 .figure ul li {
     text-decoration: none;
     list-style-type: none;
 } 
  .figure li {
    float: left;
    width: 100px;
  }
 .images {
     width: 100px;
 }

 table, th, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  border: none;
  background-color: #ddd;
}

/* Start Quoc's part */